@use '../abstracts/variables' as *;

.ArtistInfo,
.MainArtist {
  .artist__name,
  h2 {
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;
    padding: 0 0 1rem;
    border-bottom: 1px solid rgb(70, 70, 70);
  }

  h2 {
    font-size: 2rem;
    border-bottom: none;
  }

  .artist__description {
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding-bottom: 1rem;
    a {
      color: map-get($Colors, gold);
      &:hover {
        border-bottom: 1px solid map-get($Colors, gold);
      }
    }
  }
}
